.modal{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 100;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
}
.content-modal{
    border-radius: 12px;
    background-color: white;
    width: 970px;
    transform: scale(0.5);
    transition: 0.4s all;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 6px 14px rgb(0 0 0 / 30%);
}
.content-modal.active{
    transform: scale(1);
}
