.cart_background{
    background: url("./images/inner_slide_40percent.webp")no-repeat;
    height: 350px;
    position: relative;
    bottom: 121px;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
}
.style_button_cart{
    outline: none;
    border: 0;
    padding: 9px;
    border-radius: 30px;
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    background: #21b6ff;
    cursor: pointer;
    font-family: "Open Sans", serif;
    font-weight: 700;
    padding: 14px 38px;
    margin-top: 30px;
    text-decoration: none;
}
.main-cart-container{
    margin-bottom: 285px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.main_cart_items{
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: minmax(150px, 2.5fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
    grid-template-rows: repeat(1, 25px);
    background: #21b6ff;
    color: #FFFFFF;
    padding: 21px;
    border-radius: 20px 20px 1px 1px;
    font-size: 21px;
}
.main_cart_items div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_cart_items_order{
    display: grid;
    grid-template-columns: minmax(150px, 0.5fr) minmax(150px, 2fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
.main_cart_items_order div{

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cfcdcd;
    border-left: none;
    border-top: none;
}
.order-title-border{
    font-size: 20px;
    font-weight: 700;
}

.main_cart_items_order img{
    width: 50px;
    height: 50px;
    position: relative;
    left: 38px;
}
#deleted_order{
    cursor: pointer ;
    color: red;
    font-size: 15px;
    font-family: "Open Sans", serif;
}
.order-images{
    border-left: 1px solid #cfcdcd !important;
}
.order-price{
    font-size: 24px;
    font-weight: 700;
    color: #21b6ff;
}
.oder-chaged-qty{
    font-size: 24px;
    border: none !important;
    padding: 0;
}
.oder-chaged-qty p {
    color: #21b6ff;
}
.oder-chaged-qty svg{
    height: 15px;
    width: 33px;
    margin: 0 20px;
    cursor: pointer;
}
.order_price_style{
    padding-right: 30px;
}
.subTotal-order{
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 2fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
    grid-template-rows: repeat(1, 86px);
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 87px;
    border-top: 1px solid #cfcdcd;
}
.subTotal-order a:hover{
    background: #002c8f;
}
.order--total-price{
    color: #002c8f;
    font-size: 28px;
    font-family: "Open Sans", serif;
    font-weight: 700;
}
.subTotal-order div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1px;
    flex-direction: column;
    margin-top: 95px;
}
.container-cart-empty{
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 200px;
}
.container-cart-empty div{
    margin-bottom: 28px;
    font-size: 22px;
    color: #1654de;
}
.Mobile_container_style{
    margin-bottom: 180px;
}
.main_cart_mobile{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 37px 10px 4px 13px;
    background-color: rgba(0,0,0,.025);
}
.title_cart_mobile{
    font-size: 18px;
    color: #002c8f;
}
.Style_Mobile_price{
    color: #21b6ff !important;
}
.title_cart_mobile div{
    font-weight: 700;
    margin-bottom: 20px;
}
.oder-chaged-qty_mobile{
    display: flex;
    margin-top: 2px;
    margin-bottom: 0px !important;
}
.oder-chaged-qty_mobile svg{
    height: 15px;
    width: 33px;
    margin: 0 20px;
    cursor: pointer;
}
.cart_content_mobile div{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.cart_content_mobile a{
    color: #002c8f;
}
.cart_content_mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}
.deleted_product_mobile{
    position: absolute;
    top: -35px;
    width: 100%;
    height: 30px;
}
.deleted_product_mobile span{
    float: right;
    font-size: 16px;
    font-weight: 700;
    color: red;
    padding: 5px;
}
.container_total_mobile{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;  
    margin-right: 25px;
    margin-top: 35px;
}
.container_total_mobile div{
    font-size: 30px;
    font-weight: 700;
    color: #002c8f;
}
.container_button_cart{
    display: flex;
    justify-content: center;
}
.container_button_cart a{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1670px){
    .main-cart-container{
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media screen and (max-width: 850px){
    .order_price_style{
        padding-right: 0;
    }
}
@media screen and (max-width: 768px){
    .cart_background{
        height: 210px;
    }
    .Main_cintainer_volna{
        height: 110px;
    }
}
@media screen and (max-width: 353px){
    .title_cart_mobile{
        font-size: 16px;
    }
    .cart_content_mobile div{
        font-size: 16px;
    }

}
@media screen and (max-width: 1601px){
    .container-cart-empty{
        margin-left: 20px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 500px){
    .cart_background{
        height: 170px;
    }
}