.breadcrump a{
    position: relative;
    z-index: 1000;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 20px;
}
.breacrumb_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #21b6ff;
    font-size: 60px;
    padding-left: 170px;
    letter-spacing: 2px;
}
.last_link_breeadcrumb{
    color: #21b6ff;
    cursor: default;
    pointer-events: none !important;
}
.breacrumb_title div{
    font-weight: 700;
}
.breadcrumbCart{
    display: flex;
    align-items: center;
    line-height: 1px;
}
.title_cart{
    margin-top: 10px;
}
.breadcrumbCart a{
    color: #fff;
    font-family: "Open Sans", serif;
    font-size: 21px;
}
.style_slash {
    color: #fff !important;
    margin-right: 4px;
}
.volna{
    background: url("../../Cart/images/volna.png")50% 100% repeat-x;
    position: relative;
    bottom: 140px;
    height: 21px;
}
.Main_cintainer_volna{
    height: 300px;
}

@media screen and (max-width: 1600px){
    .breacrumb_title{
        padding-left: 40px !important;
    }
}
@media screen and (max-width: 768px){
    .breacrumb_title{
        font-size: 48px;
        margin-top: 73px;
        padding-left: 25px;
    }
    .breadcrumbCart a{
        font-size: 19px;
    }
}
@media screen and (max-width: 500px){
    .breacrumb_title{
        display: none;
    }
}