.container-aboutUs{
    display: flex;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}
.aboutus-Container{
    background:#002c8f;
    padding: 70px 20px;
}
.aboutUs-titl{
    text-align: center;
}
.small-titl-aboutUs{
    color: #21b6ff;
}
#main-title-aboutUs{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 55px;
}
.content-title-aboutUs{
    color: #21b6ff;
    font-weight: 900;
    font-size: 44px;
}
.aboutUs-text{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    margin: 27px 0;
}
.aboutUs-main-text{
    color: white;
    font-size: 19px;
    margin-bottom: 64px;
}
.content-text-aboutUs{
    max-width: 800px;
    margin-left: 35px;
}
.content-text-aboutUs a{
    color: white;
    padding: 16px 40px;
    margin-right: 18px;
    border-radius: 34px;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    background: #21b6ff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
    box-shadow: 2px 0px 10px #21b6ff;
}
.content-text-aboutUs a:hover{
    background: #AEC556;
    transition: all 0.2s ease;
    box-shadow: 2px 0px 10px #AEC556;
}
.main-images-aboutUs img {
    border-radius: 20px;
    margin-left: 140px;
    margin-right: 35px;
    width: 75%;
    max-height: 374px;
}
@media screen and (max-width: 1080px){
    .container-aboutUs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-images-aboutUs img{
        margin: 0;
        margin-top: 100px;
    }
    .main-images-aboutUs{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 965px){
    #main-title-aboutUs{
        font-size: 40px;
    }
    .content-title-aboutUs{
        font-size: 28px;
    }
    .aboutUs-text{
        font-size: 20px;
    }
    .content-text-aboutUs{
        margin-left: 0px;
    }
    .container-aboutUs{
        margin-top: 20px;
    }
    .main-images-aboutUs img{
        display: none;
    }
}