.snack{
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 25px;
    left: -100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 100;

}
.snack.active{
    left: 0;
    opacity: 1;
    pointer-events: all;
}
.content-snack{
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: #4caf50;
    width: 280px;
    transform: scale(0.5);
    transition: 0.4s all;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    box-shadow: 0 6px 14px rgb(0 0 0 / 30%);
    color: #FFFFFF;
    font-size: 18px;
}
.text-content-snackbar{
    flex: 1;
    font-family: "Open Sans",sans-serif;
}
.content-snack svg{
    width: 26px;
    height: 26px;
}
.done_snackbar{
    margin-right: 15px;
}
.cross-snackbar{
    cursor: pointer;
}
.content-snack.active{
    transform: scale(1);
}
.content-snack-error{
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: #f44336;
    width: 280px;
    transform: scale(0.5);
    transition: 0.4s all;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    box-shadow: 0 6px 14px rgb(0 0 0 / 30%);
    color: #FFFFFF;
    font-size: 18px;
}

.content-snack-error svg{
    width: 26px;
    height: 26px;
}
.content-snack-error.active{
    transform: scale(1);
}