.product{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(315px,0.3fr));
    margin: 20px 0;
    margin-left: 20px;
}

/*---------------------------ProductItems-----------------------------*/
@import url("./Product/ProductItem.css");




@media screen and (max-width: 769px){
    .product{
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(auto-fill,minmax(370px,0.3fr));
    }
}
@media screen and (max-width: 769px){
    .product{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}