.NavBar-container{
    padding-left: 15px;
    width: 450px;
}

.Navbar-cart-title{
    font-size: 32px;
    background: #002c8f;
    color: #fff;
    font-family: Merriweather;
    padding: 20px 17px 13px 29px;
    font-weight: 900;
    border-radius: 20px 20px 0px 0px;
}
.NavBar-cart-text{
    background: #f1f6fb;
    padding: 40px 30px 38px;
    border-radius: 1px 1px 20px 20px;
}
.navBar_cart_content_text p{
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    color: #002c8f;
    font-size: 16px;
}
.NavBar-cart-text p {
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    color: #002c8f;
    font-size: 16px;
    margin-bottom: 10px;
}
.NavBar-cart-text a{
    color: #002c8f;
}
.Navbar-cart{
    margin-bottom: 25px;
}
.Navbar-cart img{
    width: 60px;
    height: 60px;
    position: relative;
}
.Navbar-cart ul li{
    display: flex;
    margin-top: 14px;
}
.active-cart-text{
    font-size: 23px;
    margin-bottom: 23px;
    color: #002c8f;
}
.cart-content-price{
    margin-left: 15px;
    color: #002c8f;
}
.cart-Title{
    font-size: 18px;
    font-weight: 700;
}
.right-price{
    font-size: 18px;
    margin-top: 5px;
}

.right-price span{
    color: #21b6ff;
    font-weight: 900;
}
.SubTotal{
    font-size: 23px;
    font-weight: 900;
    text-align: center;
    border-top: 1px solid gray;
    margin-top: 18px;
    padding-top: 14px;
    color: #002c8f;
}
.cart-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cart-button button{
    outline: none;
    border: 0;
    padding: 9px;
    border-radius: 30px;
    margin-top: 10px;
    font-size: 19px;
    color: #fff;
    cursor: pointer;
}

#View-cart:hover{
    background: #AEC556;
    transition: all 0.3s ease;
}
#chekout:hover{
    background: #AEC556;
    transition: all 0.3s ease;
}
#View-cart{
    background: #002c8f;
    color: #fff;
    width: 100%;
}
#chekout{
    background: #21b6ff;
    width: 100%;
}
#style-deleted_product{
    color: red;
    position: absolute;
    cursor: pointer;
}
.filter_button{
    display: flex;
    justify-content: center;
}
.filter_button button{
    background: #002c8f;
    padding: 8px 29px;
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    color: #FFFFFF;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0 10px 30px rgb(17 44 129 / 30%);
    cursor: pointer;
    font-weight: 600;
}
.filter_button button:hover{
    background: #AEC556;
    transition: 0.3s;
}
/*--------------------------------rangeSlider----------------------------*/
.price_slider{
    max-width: 1000px;
}
.MuiSlider-thumb{
    height: 24px !important;
    width: 24px !important;
    top: 10px !important;
}

.MuiSlider-rail{
    height: 8px !important;
    border-radius: 4px !important;
}
.MuiSlider-track{
    height: 8px!important;
}
.MuiSlider-root{
    color: #21b6ff!important;
}
.MuiSlider-valueLabel{
    left: calc(-40% + 4px) !important;
}
.PrivateValueLabel-circle-4{
    width: 35px !important;
    height: 35px !important;
}
.filter_text{
    font-size: 21px;
    margin-top: 15px;
    color: #002c8f;
    font-family: "Open Sans",sans-serif;
    text-align: center;
}
.filter_text p{
    font-weight: 700;
}
@media screen and (max-width: 999px){
    .NavBar-container{
        margin-left: 30px;
        margin-right: 30px;
        width: auto;
    }
    .MuiSlider-thumb{
        top: 16px !important;
    }
}
