.Product-item{
    max-width: 365px;
    height: 569px;
    overflow: hidden;
    box-shadow: 0 0 27px #ddd;
    margin: 15px 0;
    position: relative;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 25px;
}
.Product-item:hover{
    box-shadow: 0 0 8px #9b9b9b;
    transition: all 0.3s ease;
}
.Product-item img{
    width: 100%;
    height: 284px;
    display: block;
    object-fit: cover;
}

.products-box h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
    text-align: center;
    font-family: Merriweather;
    color: #002c8f;
    margin-top: 25px;
    font-size: 25px;
    font-weight: 900;
}
.products-box h2:hover{
    color: #21b6ff;
}
.products-box span{
    display: block;
    text-align: center;
    color: #21b6ff;
    font-size: 24px;
    font-weight: 700;
    padding: 19px 0;
    padding-bottom: 10px;
}
.products-box p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    height: 20px;
    color: #323232;
    font-family: Merriweather;
    color: #002c8f;
    margin-top: 17px;
    text-align: center;
}
.center-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#btn_minus,#btn_plus{
    color: #5c5c5c;
    position: relative;
    top: 5px;
    width: 12px;
    cursor: pointer;
}
.btn_minus_border{
    border: 1px solid #bbb9b9;
    border-left: none;
}
.btn_plus_border{
    border: 1px solid #bbb9b9;
    border-right: none;
}
#btn_plus{
   margin-left: 5px;
 }
.center-btn span{
    padding: 7px;
    padding-bottom: 9px;
    background: #eee;
}
.center-btn input{
    text-decoration: none;
    outline: none;
    border: none;
    width: 21%;
    padding: 10px 10px;
    background: #eee;
    text-align: center;

}
.center-btn input:focus{
    border: none;
}
.center-btn input:hover{
    border: none;
}
.center-btn input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.center-btn button{
    outline: none;
    border: none;
    color: white;
    background: #21b6ff;
    cursor: pointer;
    padding: 11px 44px 15px 41px;
    border-radius: 30px;
    font-size: 14px;
    margin-top: 15px;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
}
.center-btn button:hover{
    background: #002c8f;
    transition: all 0.3s ease;
}
.center-btn svg{
    color: #ffffff;
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    left: -3px;
}

/*-------------------------------ModalWindow------------------------------*/
.modal_title{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
    color: #5e5454;
}
.modal_title p{
    font-size: 18px;
}
.modal_title span{
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;

}
.modal_title span:hover{
    color: #21b6ff;
}
.modal_content_container{
    display: flex;
    padding: 20px;
}
.modal_checkout_container{
    width: 76%;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
}
.modal_checkout_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.modal_checkout_content a {
    width: 100%;
    padding: 11px 20px;
    text-align: center;
    background: #21b6ff;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 5px 0px;
    font-weight: 400;
    font-family: sans-serif;
}
.modal_checkout_content a:hover{
    background: #002c8f;
}
.modal_checkout_content p {
    font-size: 14px;
    margin: 20px 0px;
    color: #5e5454;
    font-weight: 700;
    font-family: sans-serif;
}
.modal_checkout_content span{
    font-size: 28px;
    color: #21b6ff;
    font-family: sans-serif;
}
.modal_title_product_colom p {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 12px;
    color: #002c8f;
}
.modal_qty_product{
    font-size: 25px;
    color: #002c8f;
    font-family: sans-serif;
}
.modal_price_product{
    font-size: 25px;
    color: #21b6ff;
    font-family: sans-serif;
}
.modal_info_product_colom{
    width: 100%;
}
#teststr{
    background: #002c8f;
}
#teststr:hover{
    background: #21b6ff;
}
/*--------------------------------------------------------------------------*/


@media screen and (max-width: 1100px){
    .Product-item img{
        height: 235px;
    }
    .Product-item{
        height: 520px;
    }
    .product{
        justify-content: center;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
@media screen and (max-width: 960px){
    .modal_info_product_colom{
        width: 46%;
    }
}
@media screen and (max-width: 769px){
    .Product-item img{
        width: 225px;
        margin-left: auto;
        margin-right: auto;
    }
    .product{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(370px,0.3fr));
    }
    .Product-item{
        max-width: 500px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .modal_info_product_colom{
        display: none;
    }
    .modal_image_content {
        display: none;
    }
    .modal_content_container{
        justify-content: center;
    }
    .modal_checkout_container{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .products-box h2{
        width: 230px;
    }
    .products-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width: 360px){
    .Product-item{
        height: 520px;
    }
    .center-btn button{
        width: 100%;
    }
}