.MainPage-container{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
}
@media screen and (max-width: 1000px){
    .MainPage-container{
        display: flex;
        flex-direction: column;
    }
}