/*---------------------------DetailProduct-----------------------------*/
@import url("./DetailProduct/Product.css");


.MainPage-container_detail{
    display: flex;
    flex-direction: row;
    max-width: 1600px;
    margin: 30px auto 150px;
}
.bredcrumb_product{
    line-height: 5px;
    font-size: 21px;
    padding-right: 265px;
    margin-top: 10px;
}
.bredcrumb_product a {
    color: #fff;
    font-family: "Open Sans", serif;
}
.bredcrumb_product a:hover{
    color: #21b6ff;
}
@media screen and (max-width: 769px){
    .bredcrumb_product{
        padding-right: 0;

    }
}