.service-container{
    background: url("./images/water_separator.webp")no-repeat;
    height: 170px;
    box-shadow: 2px 0px 10px #002c8f;
    position: relative;
    height: 460px;
}
.service-container-content{
    display: flex;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    position: relative;
    bottom: 140px;
}
.service-container-text{
    max-width: 490px;
}
.service-content-title{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: white;
}
.service-content-title span{
    color: #21b6ff;
    font-weight: 900;
}

.main-container-service{
    background: #002c8f;
}
.service-content-text{
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 27px;
}
.service-content-timetable ul li{
    list-style: none;
    padding: 7px 0;
    font-size: 21px;
    color: #21b6ff;
}
.service-content-timetable svg{
    color: #AEC556;
    margin-right: 10px;
    height: 16px;
}
.service-content-timetable{
    margin-bottom: 55px;
}
.service-button a{
    border-radius: 25px;
    padding: 14px 48px;
    font-size: 16px;
    font-weight: 900;
    color: white;
    outline: none;
    text-decoration: none;
    background: #21b6ff;
    box-shadow: 2px 0px 10px #21b6ff;
}
.service-button a:hover{
    background: #FFFFFF;
    color: #002c8f;
    box-shadow: 2px 0px 10px #FFFFFF;
}

.service-form{
    background: #fff;
    padding: 35px;
    border-radius: 20px;
    max-width: 450px;
    margin: 10px;
}
.service-title-order{
    margin: 11px 14px 10px 15px;
    font-size: 35px;
    text-align: center;
    color: #21b6ff;
}
.service-input-name-phone input{
    padding: 19px;
    padding-left: 28px;
    width: 99%;
    font-size: 16px;
    border-radius: 37px;
    border: 1px solid #949494;
    outline: none;
    text-decoration: none;
    margin-top: 25px;
}

.service-input-adress-number{
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
}
#adres{
    margin-right: 10px;
    width: 51%;
}
.service-input-adress-number input{
    padding: 19px;
    border-radius: 37px;
    width: 46%;
    text-decoration: none;
    outline: none;
    border: 1px solid #949494;
    font-size: 16px;
}
.service-input-adress-number input:invalid{
    border: 2px solid red;
}
.service-form-container button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    outline: none;
    border: none;
    padding: 15px 14px;
    width: 43%;
    border-radius: 31px;
    color: white;
    background: #002c8f;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
}
.service-form-container button:hover{
    background: #AEC556;
}
.ErrorMassage{
    color: red;
    top: 9px;
    left: 9px;
    font-size: 18px;
    position: relative;
}
@media screen and (max-width: 1321px){
    .service-images{
        display: none;
    }
}
@media screen and (max-width: 942px){
    .service-container-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
    }
    .service-form{
        margin-top: 80px;
        width: 115%;
        padding: 20px;
    }
    .service-form-container button{
        width: 100%;
    }
}
@media screen and (max-width: 377px){
    .service-title-order{
        font-size: 24px;
    }
    .footer_subscribe_form input{
        padding: 13px 0px 13px 28px !important;
    }
}
@media screen and (max-width: 500px){
    .service-content-title{
        font-size: 35px;
    }
    .service-content-text{
        font-size: 18px;
        margin-top: 20px;
    }
    .service-title-order{
        font-size: 28px;
    }
}