.container-checkout{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    background: #f1f6fb;
    border-radius: 20px;
    padding: 45px;
    margin-bottom: 200px;
}
.checkout_container_1{
    width: 628px;
    margin-right: 17px;
}
.checkout_container_2{
    width: 710px;
}
#FirstName{
    padding-right: 77px;
}
#LastName{
    padding-right: 80px;
}
.chekout_container_form{
    display: flex;
    justify-content: space-between;

}
.chockout_title_form{
    font-size: 55px;
    color: #002c8f;
    font-weight: 800;
    padding-bottom: 23px;
}

.checkout_name{
    display: flex;
}
.checkout_colom{
    display: flex;
    flex-direction: column;
}
.checkout_Margin{
    margin-top: 20px;
}
#margin_street{
    margin-top: 5px;
}
.chekout_container_form label{
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 500;
    color: #002c8f;
    padding-bottom: 8px;
}
.chekout_container_form span{
    color: #b2d529;;
    font-size: 17px;
    padding-left: 4px;
}
.chekout_container_form input{
    padding: 19px;
    border-radius: 37px;
    width: 46%;
    text-decoration: none;
    outline: none;
    border: 1px solid #c9cde2;
    font-size: 16px;
    width: 100%;
}

.checkout_name input:focus{
    border: 1px solid #21b6ff;
}
.checkout_lastName{
    margin-left: 40px;
}
.checkout_container_2 textarea{
    outline: none;
    text-decoration: none;
    border: 1px solid #c9cde2;
    border-radius: 20px;
    padding: 25px;
    height: 160px;
    font-size: 16px;
    resize: vertical;
}

.checkout_form_order_container{
    margin-top: 50px;
    border-bottom: 1px solid #c9cde2;
    padding-bottom: 60px;
}
.checkout_form_order_container span{
    font-size: 48px;
    font-weight: 900;
    color: #002c8f;
}
.checkout_form_order_header{
    display: grid;
    grid-template-columns: minmax(150px, 3fr) minmax(150px, 0.9fr);
    background: #21b6ff;
    color: #FFFFFF;
    padding: 28px;
    font-family: "Open Sans";
    font-size: 24px;
    border-radius: 20px 20px 0px 0px;
    margin-top: 17px;
}
.checkout_form_content{
    display: grid;
    grid-template-columns: minmax(150px, 3fr) minmax(150px, 1fr);
    background: #FFFFFF;
}
.checkout_form_content_title{
    border: 1px solid #c9cde2;
    border-top: none;
    font-size: 18px;
    font-weight: 800;
    color: #002c8f;
    padding: 20px;
}
.checkout_form_content_price{
    border-bottom: 1px solid #c9cde2;
    border-right: 1px solid #c9cde2;
    color: #002c8f;
    font-size: 18px;
    padding: 22px;
}
.checkout_form_border{
    border-bottom: 3px solid #002c8f;
}
.checkout_form_total{
    display: grid;
    grid-template-columns: minmax(150px, 3fr) minmax(150px, 1fr);
}
.checkout_total{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-weight: bold;
    color: #002c8f;
    font-size: 30px;
}
.checkout_total_price{
    padding: 20px;
    font-weight: bold;
    color: #002c8f;
    font-size: 30px;
    background: #FFFFFF;
}
.checkout_total_button{
    display: flex;
    justify-content: flex-end;
    padding: 28px;
}
.checkout_total_button button{
    display: block;
    outline: none;
    border: none;
    padding: 15px 14px;
    width: 14%;
    border-radius: 31px;
    color: white;
    background: #21b6ff;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
}
.checkout_total_button button:hover{
    background: #002c8f;
}
@media screen and (max-width: 1501px){
    .container-checkout{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 1152px){
    .chockout_title_form{
       font-size: 46px;
    }

}
@media screen and (max-width: 988px){
    .chockout_title_form{
       font-size: 34px;
    }
    .checkout_total_button button{
        width: 100%;
    }
}
@media screen and (max-width: 769px){
    .chockout_title_form{
       font-size: 34px;
    }
    .chekout_container_form{
        flex-direction: column;
    }
    .checkout_container_1{
        width: auto;
    }
    .checkout_container_2 {
        width: auto;
        margin-top: 30px;
    }
    .checkout_name{
        flex-direction: column;
    }
    #LastName{
        padding-right: 40px;
    }
    .checkout_lastName{
        margin-left: 0;
        margin-top: 20px;
    }
    .checkout_form_order_header{
        display: flex;
        justify-content: space-between;
        padding: 28px 40px;
    }
    .checkout_form_content{
        display: flex;
        justify-content: space-between;
    }
    .checkout_form_content_price{
        padding: 22px 40px;
        border: none;
    }
    .checkout_form_content_title{
        border: none    ;
    }
}
@media screen and (max-width: 400px){
    .checkout_form_order_header{
        font-size: 20px;
        padding: 20px 19px;
    }
    .checkout_form_content_title{
        padding: 8px 10px;
        font-size: 16px;
    }
    .checkout_form_content_price{
        padding: 18px 14px;
        font-size: 16px;
    }
    .checkout_total_price {
        padding: 17px 74px;
        font-size: 24px;
        height: 55px;
        padding-left: 9px;
        padding-right: 9px;
    }
    .checkout_form_total{
        display: flex;
        justify-content: flex-end;
    }
    .checkout_total{
        font-size: 25px;
        padding: 15px 13px;
    }
    .checkout_container_2 textarea{
        height: 122px;
    }
    .chockout_title_form{
        font-size: 32px;
    }
    .chekout_container_form input{
        font-size: 13px;
    }
}