header{
    min-height: 80px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #002c8f;
    padding: 7px 0;
    padding-top: 14px;
    max-width: 1600px;
    margin: auto;
}
.container_header{
    background: #002c8f;
}
.container_header_for_mobile{
    background: #002c8f;
}
header .logo{
    flex: 1;
    margin-left: 20px;
    z-index: 1000;
}
header a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-weight: 500;
    font-family: Merriweather, serif;
}
header a:hover{
    color: #21b6ff;
}
.menu{
    display: none;
}
.menu svg{
    width: 39px;
    height: 39px;
    color: #fff;
    position: relative;
    top: 3px;
    margin-left: 15px;
}
.menu_close_svg{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background: #21b6ff;
}
.menu_close_svg img{
    width: 48px;
}
.menu_close_svg svg{
    width: 39px;
    height: 39px;
    color: #fff;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 0px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 2rem;
    z-index: 16;
}
header ul svg{
    position: relative;
    top: 2px;
}
.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
}
.search-icon input{
    font-size: 16px;
    border-radius: 30px;
    position: absolute;
    right: 0;
    top: -1px;
    max-width: 200px;
    padding: 14px 45px 14px 14px;
    color: #002c8f;
}
.search-icon input:hover{
    border: none;
}
.search-icon input:focus{
    border: none;
}
.cart-icon,
.search-icon{
    position: relative;
    margin-left: 20px;
    font-size: 1px;
    background: #21b6ff;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    z-index: 998;
}
.cart-icon svg{
    position: relative;
    width: 29px;
    right: 2px;
    height: 50px;
    top: -2px;
}
.cart-icon svg:hover{
    color: #002c8f;
}
.input_search_active{
    transform: scale(1);
    transition: all 2s ease;
}
.input_search_active svg{
    color: #002c8f;
    right: -12px !important;
    top: -4px !important;
}
.search-icon svg{
    position: relative;
    width: 21px;
    right: -2px;
    height: 50px;
    top: -3px;
}
.search-icon svg:hover{
    color: #002c8f;
}

.cart-icon{
    margin-right: 75px;

}
.cart-icon span{
    background-color: #AEC556;
    border-radius: 130px;
    color: #ffffff;
    position: absolute;
    padding: 2px 7px;
    font-size: 16px;
    left: 27px;
    top: -6px;
    cursor: default;
}
.dropDown-menu{
    background: white;
    width: 270px;
    position: absolute;
    top: 85px;
    list-style: none;
    text-align: center;
    color: #002c8f;
    padding: 13px;
    border-radius: 30px;
    margin-left: -92px;
    z-index: 999!important;
    transition: all 2s;
}
.dropdown-menu li {
    background: white;
    cursor: pointer;
}

.dropdown-link{
    color: #002c8f;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: block;
    padding: 17px;
    border-radius: 27px;
    margin-top: 14px;
    margin-bottom: 11px;
    transform: scale(0.9);
}
.dropDown-menu .clicked{
    display: none;
    transition: all 1s;

}
.dropdown-link:hover{
    color: white;
    background: #21b6ff;
    border-radius: 27px;
    transition: all 0.4s ease;
    zoom: 1;
    transform: scale(1);
}
.bacground_menu_active{
    position: fixed;
    width: 100%;
    height: 200%;
    background-color: black;
    z-index: 999;
    opacity: 0.5;
}
.sidebar_contact{
    display: flex;
    background: #002c8f;
    border-radius: 7px;
    margin: 30px 12px 10px;
    padding: 13px 3px 17px 18px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    width: 91%;
    bottom: 0;
}
.sidebar_contact svg{
    position: relative;
    top: 7px;
    width: 35px;
    height: 29px;
    margin-right: 15px;
    margin-left: 3px;
}
.sidebar_contact span{
    font-weight: 600;
    font-family: "Open Sans",sans-serif;
}
.sidebar_contact_chevr{
    width: 35px!important;
    height: 24px!important;
    color: #FFFFFF;
    top: 6px!important;
}
/*--------------------Style_ModalWindow_in_mobile_menu----------------*/
.modalwindow_mobile{
    padding: 11px;
}
.modalwindow_mobile svg{
    height: 30px;
    width: 36px;
    position: relative;
    top: -1px;
    margin-right: 10px;
}
.modalwindow_mobile div a{
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.modalwindow_mobile span{
    font-size: 12px;
    color: #a6a1a1;;
}
.modalwindow_mobile li{
    border: 1px solid #e5e5e5;
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 7px;
}
.modalwindow_mobile li a{
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    color: black;
    text-transform: none;
}
.mes_teleg{
    color: #21b6ff;
}
.viber{
    color: #7c42ad;
}
.phone_mobile{
    color: #43b02a;
    height: 26px!important;
    margin-right: 35px!important;
}
/*--------------------Style_ModalWindow_in_mobile_menu----------------*/
@media screen and (max-width: 960px){
    .nav-item{
        height: 45px;
        margin-left: 50px;
        border-bottom: 1px solid #e5e5e5;
    }
    .nav-item a{
        color: #002c8f;
        text-transform: none;
        font-size: 18px;
        font-family: "Open Sans",sans-serif;
    }
    .nav-item svg{
        top: 4px;
    }
    .cart-icon{
        margin-right: 0;
    }
    .menu{
        display: block;
        margin-right: 43px;
        margin-left: 10px;
        z-index: 998;
    }
    header .logo{
        margin-left: 20px;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        position: fixed;
    }
    .nav-menu.active {
        background: #FFFFFF;
        left: 0;
        top: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 2000;
        max-width: 280px;
    }
    .bubl{
        display: none !important;
    }
    .nav-item_icon{
        position: relative;
        top: 33px;
        left: 15px;
        height: 22px;
        width: 22px;
        color: #52575c;
    }
    .sidebar_contact{
        width: 96%;
    }
}
@media screen and (max-width: 769px){
    .slider-container{
        padding-bottom: 50px !important;
    }
    .MainPage-container{
        margin-top: 10px !important;
    }
}
.nav-menu.active{
    max-width: 600px;
}
@media screen and (max-width: 500px){
    .nav-menu.active{
        max-width: 375px;
    }
    .search-icon{
        display: none;
    }
    /*----------------Style For mobile Header-----------------*/
    .container_header_for_mobile .logo{
        display: none;
    }
    .container_header_for_mobile header{
        justify-content: space-between;
        min-height: 56px;
        position: fixed;
        padding: 0;
        z-index: 999;
    }
    .container_header_for_mobile .menu{
        position: absolute;
    }
    .container_header_for_mobile .menu svg{
        width: 1.6rem;
        height: 1.6rem;
    }
    .container_header_for_mobile .cart-icon{
        width: 35px;
        height: 35px;
        margin-right: 17px;
    }
    .container_header_for_mobile .cart-icon svg{
        top: -8px;
        right: 6px;
        width: 25px;
    }
    .container_header_for_mobile .cart-icon span{
        top: -9px;
        left: 22px;
        font-size: 12px;
    }
    .container_header_for_mobile .search-icon{
        display: block;
        background: none;
    }
    .container_header_for_mobile .search-icon input{
        position: relative;
        border-radius: 7px;
        height: 40px;
        left: 26px;
        max-width: 270px;
        top: 0;
    }
    .container_header_for_mobile .input_search_active{
        display: flex;
        justify-content: center;
    }
    .sidebar_contact{
        width: 92%;
    }
}
@media screen and (max-width: 380px){
    .container_header_for_mobile .search-icon input{
        max-width: 200px;
    }
}
/*----------------Style For mobile Header-----------------*/
@media screen and (max-width: 356px){
    .logo img{
        height: 57px;
        width: 60px;
    }
    .nav-menu.active{
        max-width: 280px;
    }
}

@media screen and (max-width: 400px){
    .nav-menu.active{
        max-width: 280px;
    }
}