.main-footer-container{
    background: #002579;
}
.subscriber_title{
    margin-right: 17px;
    font-size: 25px;
    color: #FFFFFF;
}
.subscriber_title p{
    font-weight: 900;
}
#blue{
    color: #002c8f;
    font-weight: 900;
    margin-top: 10px;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.footer-content-text{
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 30px;
    font-family: "Open Sans";
    margin-left: 10px;
    margin-right: 10px;
}
.footer-content-img{
    margin-top: 20px;
}
.footer-social-icon ul li{
    list-style: none;
    display: inline-block;
    border-radius: 100%;
    margin-right: 15px;
    width: 55px;
    height: 54px;
}
.footer-social-icon li{
    background: #FFFFFF;
}
.footer-social-icon li:hover{
    background: #21b6ff;
}
.footer-social-icon{
    margin-top: 7px;
    margin-bottom: 75px;
}
.footer-social-icon svg{
    position: relative;
    width: 30px;
    height: 28px;
    top: 13px;
    left: 13px;
    color: #002579 ;
}
.footer_company{
    padding: 34px;
    text-align: center;
    padding: 34px;
    background: #042162;
    color: #FFFFFF;
}
.footer_company a{
    color: #FFFFFF;
    outline: none;
    text-decoration: none;
}
.subscriber-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    background: #21b6ff;
    border-radius: 20px;
    padding: 36px;
    position: relative;
    bottom: 68px;
}
.footer_subscribe_form input{
    width: 99%;
    font-size: 16px;
    border-radius: 37px;
    border: 1px solid #949494;
    outline: none;
    text-decoration: none;
    padding: 13px 110px 13px 28px;
}
.footer_subscribe_form button{
    padding: 13px 70px;
    position: relative;
    right: 55px;
    border: none;
    outline: none;
    background: #002c8f;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}
.footer_subscribe_form button:hover{
    background: #AEC556;
    transition: all 0.3s ease;
}
.footer_subscribe_form{
    display: flex;
}
@media screen and (max-width: 1630px){
    .subscriber-container{
        margin-left: 15px;
        margin-right: 15px;
    }

}
@media screen and (max-width: 834px){
    .subscriber-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer_subscribe_form{
        margin-top: 10px;
    }
}
@media screen and (max-width: 616px){
    .footer_subscribe_form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_subscribe_form button{
        right: 0;
        margin-top: 10px;
        width: 100%;
    }
}
@media screen and (max-width: 380px){
    .menu{
        margin-right: 25px;
    }
    header .logo{
        margin-left: 5px;
    }
}