.detailProduct_container{
    display: flex;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 50px;
}
.detailProduct_container img{
    width: 450px;
}
.detail_container{
    padding: 10px;
    max-width: 638px;
    margin-top: 15px;
}
.title_detail_product{
    font-size: 36px;
    color: #002c8f;
    font-weight: 700;
}
.price_detail_product{
    font-size: 24px;
    color: #21b6ff;
    font-weight: 700;
    margin-top: 15px;
    
}
.descroption_detail_product{
    margin-top: 15px;
    color: #0f45bf;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: "Open Sans";
    line-height: 30px;
}
.button_detail_product button{
    outline: none;
    border: none;
    color: white;
    background: #21b6ff;
    cursor: pointer;
    padding: 13px 50px 13px 50px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 800;
}
.button_detail_product button:hover{
    background: #002c8f;
}
.category_detail_product{
    font-size: 18px;
    color: #002c8f;
    margin-top: 20px;
    line-height: 30px;
}
.category_detail_product div{
    font-weight: 700;
}
#color_tags{
    color: #21b6ff;
    font-weight: 700;
}
.reviews_title_container{
    display: flex;
    margin-left: 25px;
}
.reviews_containers{
    margin-right: 10px;
}
.reviews_title{
    font-size: 18px;
    font-weight: 700;
    color: #002c8f;
    font-family: "Open Sans";
    background: #f1f6fb;
    border-radius: 20px 20px 1px 1px;
    padding: 15px 25px;
    transition: all 0.5s ease;
}
.reviews_description{
    margin-left: 25px;
    background: #f1f6fb;
    max-width: 1080px;
    margin-bottom: 150px;
    
}
.reviews_title_description{
    color: #0f3ea8;
    font-size: 28px;
    font-weight: 700;
    padding: 15px 25px;
    padding-top: 30px;
}
.reviews_text_description{
    padding: 15px 25px;
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #0f3ea8;
}
.reviews_title.active{
    background: #0f3ea8;
    cursor: pointer;
    color: #fff;
}
.reviews_title.active:hover{
    background: #21b6ff;
}
.review_title_form{
    font-size: 15px;
}
.review_title_form p{
    font-weight: 700;
    font-family: "Open Sans";
    margin-top: 22px;
}
.reviews_text_form_description{
    font-size: 17px;
    
}
.reviews_text_form_description div{
    font-family: "Open Sans";
}
#title-content-reviw{
    margin-top: 23px;
    margin-bottom: 40px;
    
}
#review-text-form_{
    font-weight: 700;
    font-size: 18px;
}
#title_main_form-reviw{
    text-align: center;
    margin-top: 50px;
}
.review_container_form_ input{
    width: 100%;
    padding: 22px 30px;
    border-radius: 40px;
    outline: none;
    border: none;
    margin-top: 10px;
    font-size: 16px;
}

.review_container_form_ textarea{
    width: 100%;
    padding: 25px 30px;
    border-radius: 40px;
    outline: none;
    border: none;
    margin-top: 10px;
    resize: vertical;
    font-size: 16px;
}
.review_container_form_ textarea:focus{
    border: 1px solid #21b6ff;
}
.review_container_form_ textarea:hover{
    border: 1px solid #21b6ff;
}
.review_container_form_{
    padding: 40px;
    padding-top: 0;
}
.review_button_form{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.review_button_form button{
    color: #fff;
    background: #21b6ff;
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 14px 59px;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 700;
    cursor: pointer;
}
.Rating_container{
    padding-left: 40px;
    margin-top: 40px;
}
.Rating_container p{
    font-size: 19px;
    margin-bottom: 6px;
    font-weight: bolder;
}
.review_button_form button:hover{
    background: #002c8f;
    transition: all 0.4s ease;
}
/*---------------------reviers_users_content--------------------*/
.review_users_container{
    max-width: 1000px;
    margin-left: 40px;
    margin-top: 33px;
}
.review_users_content{
    display: flex;
}
.review_users_reviews{
    margin-top: 25px;
}
.review_users_reviews span{
    color: #002c8f;
    font-size: 19px;
}
.review_users_title_container{
    display: flex;
    flex: 1;
    margin-left: 20px;
    border: 1px solid #c9cde2;
    padding: 20px;
    justify-content: space-between;
}
.review_users_title_title span{
    color: #949494;
    font-style: italic;
    font-size: 16px;
}
.review_users_img svg{
    width: 50px;
    height: 50px;
}
@media screen and (max-width: 1307px){
    .detailProduct_container img{
        width: 300px;
    }
}
@media screen and (max-width: 999px){
    .MainPage-container_detail{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 769px){
    .detailProduct_container{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0px;
        flex-direction: column;
    }
    .review_container_form_{
        padding: 40px 10px;
    }
    .review_container_form_ input{
        padding: 17px 30px;
    }
    .review_container_form_ textarea{
        padding: 12px 30px;
    }
    .reviews_title_container{
        margin-right: 15px;
    }
    .reviews_description{
        margin-right: 15px;
    }
    .MainPage-container_detail{
        margin-top: 0px !important;
    }
    .review_users_container{
        margin-left: 0;
    }
}
@media screen and (max-width: 569px){
    .review_users_content{
        display: block;
    }
    .review_users_title_container{
        display: block;
        margin-left: 0;
    }
    .review_users_reviews{
        margin-bottom: 10px;
    }
}