* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Merriweather;
  font-weight: 400;
}
a{
  text-decoration: none;
  outline: none;
  color: #002c8f;
}
ul li{
  list-style: none;
}
button{
  outline: none;
  border: none;
}
input{
  outline: none;
  border: none;
}
input:focus{
  border: 1px solid #21b6ff;
}
input:hover{
  border: 1px solid #21b6ff;
}
textarea:focus{
  border: 1px solid #21b6ff;
}
textarea:hover{
  border: 1px solid #21b6ff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*---------------------------Header-----------------------------*/
@import url("./Components/Header/Header.css");


/*---------------------------Slider-----------------------------*/
@import url("./Components/Slider/slider.css");

/*---------------------------Volna-----------------------------*/
@import url("./Components/assets/StyleVolna/volnaStyle.css");

/*---------------------------MaingPage-----------------------------*/
@import url("./Components/MainPages/MainPage.css");

/*---------------------------Navbar-----------------------------*/
@import url("./Components/MainPages/NavBar/Navbar.css");

/*---------------------------Product-----------------------------*/
@import url("Components/MainPages/Products/Products.css");

/*---------------------------AboutUs-----------------------------*/
@import url("Components/MainPages/AboutUs/aboutUs.css");


/*---------------------------Service-----------------------------*/
@import url("Components/MainPages/ServiceOrder/ServiceoOrder.css");

/*---------------------------PageProduct-----------------------------*/
@import url("Components/PagesProduct/PagesProduct.css");

/*---------------------------Cart-----------------------------*/
@import url("Components/Cart/cart.css");

/*---------------------------Checkout-----------------------------*/
@import url("Components/Checkout/checkout.css");

/*---------------------------Footer-----------------------------*/
@import url("Components/Footer/Footer.css");


/*---------------------------Pagination-----------------------------*/
@import url("Components/assets/Pagination/pagination.css");

/*---------------------------ModalWindow-----------------------------*/
@import url("Components/assets/ModalWindow/modal.css");

/*---------------------------SnackBar-----------------------------*/
@import url("Components/assets/SnackBar/snack.css");